body {
  font-family: sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #f0f4f8;
  color: #333;
}

h1 {
  color: #2c3e50;
}

.settings-container, .game-container {
  background-color: white;
  padding: 20px 25px;
  margin: 20px;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0,0,0,0.1);
  width: 90%;
  max-width: 600px;
}

.setting-group {
  margin-bottom: 15px;
  border-top: 1px solid #eee;
  padding-top: 15px;
}

#lesson-checkboxes label {
  margin-right: 10px;
  display: inline-block;
  padding: 5px;
}

button {
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  border: none;
  border-radius: 5px;
  color: white;
  background-color: #007bff;
  transition: background-color 0.3s;
  margin-top: 10px;
}

button:hover {
  background-color: #0056b3;
}

/* フラッシュカードのデザイン */
.flashcard {
  width: 100%;
  height: 250px;
  perspective: 1000px;
  cursor: pointer;
  margin: 20px 0;
}

.card-inner {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.6s;
  transform-style: preserve-3d;
}

.flashcard.is-flipped .card-inner {
  transform: rotateY(180deg);
}

.card-front, .card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  display: flex;
  flex-direction: column; /* 画像とテキストを縦に並べる */
  justify-content: center;
  align-items: center;
  border: 1px solid #ccc;
  border-radius: 8px;
  box-sizing: border-box;
  padding: 10px;
}

.card-front {
  background-color: #e9f5ff;
}

.card-back {
  background-color: #fffbe9;
  transform: rotateY(180deg);
}

.card-image {
  max-height: 150px; /* 画像の高さを制限 */
  max-width: 90%;
  margin-bottom: 15px; /* 画像とテキストの間に余白を追加 */
  display: none; /* デフォルトは非表示 */
}

.card-text {
  font-size: 28px;
  font-weight: bold;
}

.navigation-buttons, .reset-area {
  margin-top: 20px;
  text-align: center;
}

#reset-learned-button {
    background-color: #dc3545;
}
#reset-learned-button:hover {
    background-color: #c82333;
}
